@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap/scss/navbar";
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/transitions";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

$text-uppercase: uppercase;
$text-lowercase: lowercase;
$text-capitalize: capitalize;
$roboto-font: "Roboto", sans-serif;
$Raleway-font: "Raleway", sans-serif;
$Playfair-font: "Playfair Display", serif;
// sass colors //
$white: #fff;
$nav-color: #242b33;
$silver: #c0c0c0;
$body-color1: #e5e5e5;
$gray-light: #626262;
$gold: #d4c17f;
$primary: #81899b;
$accent: #302e24;
$warn: #dfa612;

::placeholder {
  color: $white;
  opacity: 1;
}

body {
  //font-family: $roboto-font;
  background-color: $nav-color !important;
  overflow-x: hidden;
}
.header {
  height: 100vh;
  //padding: 0;
  //background-size: cover !important;
}
//-- navbar -- //
.navbar {
  //position: absolute;
  z-index: 999;
  //top: 0;
  width: 100%;
  //margin-top: -830px;
  .navbar-nav {
    //position: relative;
  }
  .nav-item {
    font-family: $Raleway-font;
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: normal;
    .nav-link {
      color: #fff !important;
      font-size: 14px;
      line-height: 16px;
    }
    :hover {
      color: $primary !important;
    }
  }
}
// -- end of navbar -- //
// -- header section -- //
.swiper-wrapper {
  text-align: center;
  //margin-top: 15%;
  .swiper-slide {
    //margin-top: -50px;
  }
  h1 {
    font-family: $Playfair-font;
    color: $gold;
    font-style: normal;
    font-weight: bold !important;
    font-size: 48px;
    line-height: 64px;
  }
}
.main_section {
  background-image: url("./img/Rectangle.svg");
  background-size: cover;
  height: calc(100vh - 65px);
  //display: flex;
  text-align: center;
}
.w-100 {
  width: 100% !important;
  text-align: center;
}
.info_section {
  //width: 100%;
  .text-white {
    //top: 320px;
    font-family: $Raleway-font;
  }
  .col-lg-6 {
    //margin-right: auto;
    //margin-right: 0.5rem;
  }
  .text-center {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
  }
}
//-- End of Header Section -- //
.section_list {
  background-image: url(./img/II.svg);
  //margin: 3rem 0 0 0;
  //
  padding: 3rem;
  background-repeat: no-repeat;
  //background-position: right;

  background-size: 500px;
  p {
    font-family: $roboto-font;
    color: $white;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin: 1rem 0;
    padding: 0.5rem 0;
  }
}
//-- Image- Section --//
.img_section {
  background-image: url(./img/III.svg);
  background-repeat: no-repeat;
  height: auto;
  //margin-top: -150px;

  h2 {
    font-family: $Playfair-font;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: $gold;
    margin-top: 8rem;
    padding-left: 2rem;
  }
}
.my-3 {
  padding-left: 3rem;
  img:hover {
    box-shadow: 10px 8px 10px;
    transition: 0.2s ease-in-out;
  }

  .over {
    font-family: $Raleway-font;
    position: absolute;
    color: $white;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    bottom: 2rem;
    left: 4rem;
  }
}
//-- Form-Section --//
.form-section {
  background-size: cover;
  padding: 4rem 0;
  h2 {
    position: absolute;
    font-family: $Playfair-font;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: $gold;
  }
  .mt-5 {
    //position: absolute;
    font-family: $Raleway-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    .text-white {
      color: $white !important;
    }
  }
  .col-lg-6 {
    //padding-left: 3rem;
    margin-top: -30%;
    h2 {
      margin-top: -5%;
    }
  }
}
input[type="text"] {
  background-color: #ffffff12;
  text-align: center;
  border: 0;
  padding: 0.7rem;
  width: 100%;
  color: #fff !important;
}
.small {
  font-family: $Raleway-font;
  font-size: 80%;
  //position: absolute;
  font-style: normal;
  font-weight: normal;
  //font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #e7e7e7;
  //margin-top: 35px;
  margin: auto;
}
.submit {
  font-family: $Raleway-font;
  background: $gold;
  color: $white;
  width: 100%;
  padding: 0.7rem;
  border: 0;
  font-weight: bold;
}
table {
  //margin-top: -60%;
  width: 100%;
}
.video-section {
  background-position: right;
  background-repeat: no-repeat;
  h1 {
    font-family: $Playfair-font;
    font-style: normal;
    font-weight: bold;
    font-size: 400px;
    line-height: 533px;
    color: $white !important;
    text-align: right;
    opacity: 0.02;
  }
  img {
    display: block;
    margin: auto;
    //margin-top: -50%;
    //padding-left: 20%;
    background-position: center;
    .mx-w-100 {
      max-width: 100%;
    }
  }
  img:hover {
    box-shadow: 10px 8px 10px !important;
    transition: 0.2s ease-in-out;
  }
}

//-- map section --//

.map_section {
  background-position: left 6rem;
  .section_5 {
    font-family: $Playfair-font;
    font-weight: bold;
    font-size: 400px;
    line-height: 533px;
    color: $white;
    opacity: 0.02;
  }
  .container {
    margin-top: -200px;
    padding-right: 30px;
    h2 {
      font-family: $Playfair-font;
      color: $gold;
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
    }
  }
  .google_map {
    position: relative;
    //margin-top: 100px;
  }
}
section {
  h2 {
    font-family: $Playfair-font;
    color: $gold;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
  }
}
// Footer Section //

.footer {
  background-color: #2d343c;
  ul {
    font-family: $Raleway-font;
    color: $white;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.05em;
    padding: 0;
    margin: 1rem 0.2rem;
    img {
      margin: 1rem 0.2rem;
    }
  }
  .font-weight-bold {
    font-family: $Raleway-font;
    color: $gold;
  }
}
@media only screen and(max-width:768px) {
  .main_section {
    display: block;
    padding: 8rem 0 0 0;
  }
}
